<html>
	<head>
		<%= erb :'templates/head_main' %>
		<link rel="stylesheet" href="main.css">
		<title>Citadel Metal Supply, LLC</title>
	</head>
	<body>
		<div id="wrapper">

			<%= erb :'templates/header' %>

			<h1>Contact Us</h1>

			<h3>Joel Baze, Chief Operating Officer</h3>
			<h3>joel@citadelmetalsupply.com</h3>
			<h3>(254) 640-5857</h3>

			<h3>For pricing information and any other questions, please email <span>contact@citadelmetalsupply.com</span> or fill out the form below for a prompt response!</h3>

			<!-- <% if flash[:confirmation] %>
				<script type="text/javascript">
					alert("Thanks for your email! We will get back to you shortly!");
				</script>
			<% end %>

			<div id='contact-div' class="group">
			    <form action="/contact" method="post" class="well">
			      <input type="text" name="name" class="span4" placeholder="Your Name" required>
			      <input type="text" name="email" class="span4" placeholder="Your Email" required>
			      <input type="text" name="phone" class="span4" placeholder="Your Phone" required>
			      <textarea name="message" cols='30' rows="10" placeholder="Your Message" required></textarea>
			      <button type="submit" class="btn" value="Send">Submit</button>
			    </form>
			</div>

		</div> -->

		<%= erb :'templates/scripts' %>

	</body>
</html>
