<html>
	<head>
		<%= erb :'templates/head_main' %>
		<link rel="stylesheet" href="main.css">
		<title>Citadel Metal Supply, LLC</title>
	</head>
	<body>
		<div id='wrapper'>
			<%= erb :'templates/header' %>
			<h1>Gallery</h1>
			<div id='gal-image'>
				<div id='gallery-div'>
					<div id='scroll-left'></div>
					<img src="roof_1.jpg" name='roof_1' class='roof_image' alt="Image Load Failed">
					<div id='scroll-right'></div>
				</div>
			</div>
			
			
		</div>

		<%= erb :'templates/scripts' %>
		<script src='gallery.js'></script>
	</body>
</html>