<html>
	<head>
		<%= erb :'templates/head_main' %>
		<link rel="stylesheet" href="main.css">
		<title>Citadel Metal Supply, LLC</title>
	</head>
	<body>
		<div id='wrapper'>
			<%= erb :'templates/header' %>

			<img src="roof_1.jpg" name='roof_1' class='roof_image' alt="Image Load Failed">
		</div>

		<%= erb :'templates/scripts' %>
	</body>
</html>