<html>
	<head>
		<%= erb :'templates/head_main' %>
		<link rel="stylesheet" href="main.css">
		<title>Citadel Metal Supply, LLC</title>
	</head>
	<body>
		<div id='wrapper'>
			<%= erb :'templates/header' %>
			<h1>Gallery</h1>
			<div id='gal-image'>
				<div id='gallery-div'>
					<img src="roof_1.png" name='roof_1' class='roof_image' alt="Image Load Failed">
				</div>
			</div>
			<div class='thumb-pics'>
				<img class='thumbnail' src='roof_1.png'>
				<img class='thumbnail' src='roof_2.png'>
				<img class='thumbnail' src='roof_3.jpg'>
				<img class='thumbnail' src='roof_4.png'>
				<img class='thumbnail' src='roof_5.jpg'>
			</div>


		</div>

		<%= erb :'templates/scripts' %>
		<script src='gallery.js'></script>
	</body>
</html>
