<html>
	<head>
		<meta charset="UTF-8"/>
      		<meta name="viewport" content="width=device-width, initial-scale=1.0">
      		<link href='https://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="main.css">
		<title>Citadel Metal Supply</title>
	</head>
	<body>
		<div id="wrapper">
			<img name="citadel-logo" id="logo" src="http://i.imgur.com/qze7gGg.png" alt="">
			<h1>Welcome to Citadel Metal Supply!</h1>
			<h2>Our site is coming soon!</h2>
			<h3>For any questions you have, please email <span style="color:white">contact@citadelmetalsupply.com</span> or fill out the form below for a prompt response!</h3>
			<% if flash[:confirmation] %>
				<script type="text/javascript">
					alert("Thanks for your email! We will get back to you shortly!");
				</script>
			<% end %>
			<div id='contact-div' class="group">
			    <form action="/contact" method="post" class="well">
			      <input type="text" name="name" class="span4" placeholder="Your Name" required>
			      <input type="text" name="email" class="span4" placeholder="Your Email" required>
			      <textarea name="message" cols='30' rows="10" placeholder="Your Message" required></textarea>
			      <button type="submit" class="btn" value="Send">Submit</button>
			    </form>
			</div>
		</div>
	</body>
</html>
