<html>
	<head>
		<%= erb :'templates/head_main' %>
		<link rel="stylesheet" href="main.css">
		<title>Citadel Metal Supply, LLC</title>
	</head>
	<body>

		<div id="wrapper">
			
			<%= erb :'templates/header' %>

			<h1>Welcome to Citadel Metal Supply and Installation</h1>

			<img src="roof_1.jpg" name='roof_1' class='roof_image' alt="Image Load Failed">
			
			<div id='about-div'>

				<h3 id='about-us'>About Us</h3>

				<p id='intro'>	Citadel Metal Supply specializes in metal roof installation and serves as a distributor of metal roofing supplies for Central Texas Metal Roofing Supply.

				With over 30 years of experience in metal roofing, we are dedicated to providing high quality materials and professional installation services to our customers.
				</p>
				
			</div>

		</div>

		<%= erb :'templates/scripts' %>

	</body>
</html>
