<html>
	<head>
		<meta charset="UTF-8"/>
      		<meta name="viewport" content="width=device-width, initial-scale=1.0">
      		<link href='https://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
      		<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="main.css">
		<title>Citadel Metal Supply, LLC</title>
	</head>
	<body>
		<div id="wrapper">
			<img name="citadel-logo" id="logo" src="http://i.imgur.com/jO0q0o4.png" alt="">
			<h3>Please enter your information below to view the products we offer.</h3>
			<div id='contact-div' class="group">
			    <form action="/toctmrs" method="post" class="well">
			      <input type="text" name="name" class="span4" placeholder="Your Name" required>
			      <input type="text" name="email" class="span4" placeholder="Your Email" required>
			      <input type="text" name="phone" class="span4" placeholder="Your Phone" required>
			      <button type="submit" class="btn" value="Send">Submit</button>
			    </form>
			</div>
		</div>
	</body>
</html>
