<div id='header-div'>

	<a id='l1' class='hlink-d' href="/">About Us</a>
	<a id='l2' class='hlink-d' href="/services">Services</a>
	<a id='l3' class='hlink-d' href="/gallery">Gallery</a>
	<a id='l4' class='hlink-d' href="/contactUs">Contact Us</a>

	<a id='l1' class='hlink disableClick' href="/">About Us</a>
	<a id='l2' class='hlink disableClick' href="/services">Services</a>
	<a id='l3' class='hlink disableClick' href="/gallery">Gallery</a>
	<a id='l4' class='hlink disableClick' href="/contactUs">Contact Us</a>
	
	<img name="citadel-logo" id="logo" src="http://i.imgur.com/jO0q0o4.png" alt="">
	
	<img id='menu-img' src="menu.png" alt="">
</div>