body
{
	background-color: #0C0C0C;
	margin: 0;
}

#wrapper
{
	color: gray;
	width:100%;
	margin: auto;
	text-align: center;
	font-size: 1.5em;
}

#logo
{
	margin-top: 2em;
	width: 75%;
	border: 3px solid black;
}

@media screen and (min-width: 28.75em)
{
	#wrapper
	{
		font-size: 1em;
	}

	#logo
	{
		width: 40%;
	}
}

@media screen and (min-width: 40.5em)
{
	#wrapper
	{
		font-size: 1em;
	}

	#logo
	{
		width: 35%;
	}
}
